<div id="profile" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/account/profile.less</em>, <em>assets/js/pages/account/profile.page.js</em>, and <em>api/controllers/account/view-profile.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
