<div id="profile" v-cloak>
  <div class="container">
    <div class="row mt-3">

      <div class="col-lg-4">
        <div class="card card-profile">
          <div class="card-header" style="background-image: url(https://placeimg.com/500/333/any);"></div>
          <div class="card-body text-center">
            <img class="card-profile-img" :src="'/api/v1/user/'+user.id+'/avatar'">
            <h3 class="mb-3">{{user.fullName}}</h3>
            <p class="mb-4">
              Anarcho Syndicalist Militant.
            </p>
            <ul class="social-links list-inline mb-0 mt-2">
              <li class="list-inline-item">
                <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="1234567890"><i class="fa fa-phone"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="@skypename"><i class="fa fa-skype"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="card">
          <div class="card-header">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Message">
              <div class="input-group-append">
                <button type="button" class="btn btn-secondary">
                  <i class="fe fe-camera"></i>
                </button>
              </div>
            </div>
          </div>
          <ul class="list-group card-list-group">
            <li class="list-group-item py-5">
              <div class="media">
                <div class="media-object avatar avatar-md mr-4" style="background-image: url(/images/hero-ship.png)"></div>
                <div class="media-body">
                  <div class="media-heading">
                    <small class="float-right text-muted">4 min</small>
                    <h5>{{user.fullName}}</h5>
                  </div>
                  <div>
                    Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras
                    justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus.
                  </div>
                  <ul class="media-list">
                    <li class="media mt-4">
                      <div class="media-object avatar mr-4" style="background-image: url(/images/hero-ship.png)"></div>
                      <div class="media-body">
                        <strong>Deanna: </strong>
                        Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus
                        auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.
                      </div>
                    </li>
                    <li class="media mt-4">
                      <div class="media-object avatar mr-4" style="background-image: url(/images/hero-ship.png)"></div>
                      <div class="media-body">
                        <strong>Nando: </strong>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
                        amet risus.
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="list-group-item py-5">
              <div class="media">
                <div class="media-object avatar avatar-md mr-4" style="background-image: url(/images/hero-ship.png)"></div>
                <div class="media-body">
                  <div class="media-heading">
                    <small class="float-right text-muted">12 min</small>
                    <h5>{{user.fullName}}</h5>
                  </div>
                  <div>
                    Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis
                    parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item py-5">
              <div class="media">
                <div class="media-object avatar avatar-md mr-4" style="background-image: url(/images/hero-ship.png)"></div>
                <div class="media-body">
                  <div class="media-heading">
                    <small class="float-right text-muted">34 min</small>
                    <h5>{{user.fullName}}</h5>
                  </div>
                  <div>
                    Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam
                    venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                  </div>
                  <ul class="media-list">
                    <li class="media mt-4">
                      <div class="media-object avatar mr-4" style="background-image: url(/images/hero-ship.png)"></div>
                      <div class="media-body">
                        <strong>Black Cat: </strong>
                        Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus
                        auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
