<div id="terms">
  <div class="container">
    <h1>Terms of service</h1>
    <hr/>
    <p>There are some simple ground rules you'll need to agree to before using Confed.  Playing by these rules is a mandatory part of using our application, so if you have any questions about them, please <a href="/contact">drop us a line</a> and we'll respond posthaste.</p>

    <h3>Confed agreement</h3>
    <p>By using or signing up for Confed, you are agreeing to be bound by the following terms and conditions (the “<strong>Agreement</strong>”). </p>
    <p>By marking the applicable "I have read and agree to the terms of service" checkbox, you hereby agree to the Agreement.</p>

    <h5>Disclaimers and limitation of liability of warranty</h5>
    <p><strong>THE SERVICES ARE PROVIDED “AS-IS” AND WE EXPRESSLY DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT AND FITNESS FOR A PARTICULAR PURPOSE.</strong></p>
    <p><strong>NEITHER PARTY WILL HAVE ANY LIABILITY WITH RESPECT TO THE SERVICES OR OBLIGATIONS UNDER THIS AGREEMENT OR OTHERWISE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSSES OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES RESULTING IN ANY WAY FROM THE SERVICES.  IN ANY EVENT, EACH PARTY’S LIABILITY UNDER THIS AGREEMENT FOR ANY REASON WILL BE LIMITED TO THE FEES PAID BY YOU DURING THE SIX MONTH PERIOD IMMEDIATELY PRECEDING THE EVENT GIVING RISE TO THE CLAIM FOR DAMAGES. THIS LIMITATION APPLIES TO ALL CAUSES OF ACTION IN THE AGGREGATE, INCLUDING, BUT NOT LIMITED TO, BREACH OF CONTRACT, BREACH OF WARRANTY, NEGLIGENCE, STRICT LIABILITY, MISREPRESENTATIONS, AND OTHER TORTS. THESE LIMITATIONS APPLY EVEN IF A PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING LIMITATIONS APPLY TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW.</strong></p>

    <h5>General provisions</h5>
    <p>This Agreement sets forth the entire agreement and supersedes any and all prior agreements, written or oral, of the parties with respect to the subject matter hereof. We reserve the right to update and change the Agreement prospectively by posting updates and changes on our website, <%= sails.config.custom.baseUrl %>. You are advised to please check the Agreement from time to time for any updates or changes that may impact you. If a significant change is made, we will provide reasonable notice by email and an opportunity to terminate this Agreement if you do not agree with the change.</p>

    <p><strong>Last updated: 2019/06/08</strong></p>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
