<div class="dropdown">
  <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown" aria-expanded="false">
    <span class="avatar" style="background-image: url(/api/v1/user/<%- me.id %>/avatar)"></span>
    <span class="ml-2 d-none d-lg-block">
      <span class="text-white"><%- me.fullName %></span>
        <small class="text-muted d-block mt-1"><%- me.username %></small>
    </span>
  </a>
  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" x-placement="bottom-end" style="position: absolute; transform: translate3d(-56px, 32px, 0px); top: 0px; left: 0px; will-change: transform;">
    <a class="dropdown-item" href="/<%- me.username %>">
      <i class="dropdown-icon fe fe-user"></i> Profile
    </a>
    <a class="dropdown-item" href="/account">
      <i class="dropdown-icon fe fe-settings"></i> Settings
    </a>
    <a class="dropdown-item" href="#">
      <span class="float-right"><span class="badge badge-primary">6</span></span>
      <i class="dropdown-icon fe fe-mail"></i> Inbox
    </a>
    <a class="dropdown-item" href="/comrades">
      <i class="dropdown-icon fe fe-users"></i> Comrades
    </a>
    <a class="dropdown-item" href="#">
      <i class="dropdown-icon fe fe-send"></i> Message
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/contact">
      <i class="dropdown-icon fe fe-help-circle"></i> Need help?
    </a>
    <a class="dropdown-item" href="/logout">
      <i class="dropdown-icon fe fe-log-out"></i> Sign out
    </a>
  </div>
</div>
