<div id="faq">
  <div class="container">
    <h1>FAQ</h1>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>What is Confed?</h4>
      <p>Confed is software designed to provide a platform to support groups to organise via anarchist principles to come to decisions, and do it via a anarchist federative model. It is based on the structures of federations affiliated with the <a target="_blank" href="https://www.iwa-ait.org">IWA-AIT</a> </p>
      <p>The initial concept for Confed came from the Tasmanian local affiliate of the <a target="_blank" href="https://www.asf-iwa.org.au">ASF-IWA</a>, the Australian section of the IWA. Workers from the local union <a target="_blank" href="https://discourse.anok.io/t/anok-io-welcome-to-an-experiment-in-anarchist-organising/20">initiated a project Anok.io</a> to work toward federating web development and software workers via anarcho syndicalist principles.</p>
      <ul>
        <li><strong>Confed</strong> - You can find the source code for the Confed application at <a target="_blank" href="https://github.com/anok-io/confed">Confed on Github</a></li>
        <li><strong>ANOK</strong> - <a target="_blank" href="https://anok.io">Anok.io</a> is the initiative that is producing the software, and you can always jump in for a chat on <a target="_blank" href="https://discourse.anok.io">our a discussion forum</a> </li>
        <li><strong>Facebook</strong> You can also <a target="_blank" href="https://www.facebook.com/anok.io.code/">find us on Facebook</a></li>
      </ul>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>How do I get involved in Confed? Anok.io?</h4>
      <p>Join our <a target="_blank" href="https://discourse.anok.io">our Discourse discussion forum</a></p>
      <ul>
        <li>There is a lot to be done, and not all of it technical. Support with writing of material and other aspects can occur without specialist skills. Feedback and usage is a great way to contribute!</li>
        <li>You can check out this post on Discourse for more information</li>
      </ul>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Where can I go for more information?</h4>
      <p>Our Discourse is the best place for any discussion about Confed, Anok.io or the concepts behind anarchism that drive these projects <a target="_blank" href="https://discourse.anok.io">https://discourse.anok.io</a>.</p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
