<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container text-center">
      <div class="hero-image">
        <img class="sky" alt="The sky above the ocean" src="/images/hero-sky.png"/>
        <img class="cloud cloud-1" alt="A grayish-blue cloud" src="/images/hero-cloud.png"/>
        <img class="cloud cloud-2" alt="Another grayish-blue cloud" src="/images/hero-cloud.png"/>
        <img class="ship" alt="A ship hovering a few feet over the surface of the water, bearing a flagpole with the Anarchist logo" src="/images/hero-ship.png"/>
        <img class="water" alt="The shadow of the floating ship on the water" src="/images/hero-water.png"/>
      </div>
      <h1 class="display-4"><strong>CONFED Ⓐ</strong></h1>
      <div>
        <div class="more-info-text" @click="clickHeroButton()">
          <div class="text">Organise</div>
          <div class="icon">&darr;</div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-wrapper" role="scroll-destination">
    <div class="container">
      <div class="about text-center">
        <h3>Organising via anarchist federalism</h3>
        <p>This is an exploration of building an anarchist decision making system based on a model of federations affiliated with the <a href="https://www.asf-iwa.org.au">ASF-IWA</a>, the Australian section of the <a href="https://www.iwa-ait.org">International Workers Association</a></p>
      </div>
      <div class="features text-center">
        <div class="row">
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <i class="fa fa-envelope"></i>
            </div>
            <h4>Help</h4>
            <p class="text-muted">You can always contact us via the <a href="/contact">contact form</a></p>
          </div>
          <div class="feature pt-4 pt-sm-0 mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <i class="fa fa-flag"></i>
            </div>
            <h4>Join</h4>
            <p class="text-muted"><a href="/signup">Sign up</a>, <a href="/login">login</a>, or <a href="/password/forgot">password recovery</a></p>
          </div>
          <div class="feature pt-4 pt-sm-0 col-sm">
            <div class="icon">
              <i class="fa fa-comments"></i>
            </div>
            <h4>Organise</h4>
            <p class="text-muted">Want to discuss our processes? Visit our <a target="_blank" href="https://discourse.anok.io">Discourse</a></p>
          </div>
        </div>
        <a class="btn btn-outline-info mt-5" href="/faq">Learn more</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="setup">
      <h3 class="text-center">How to get started:</h3>
      <div class="step">
        <div class="step-image">
        <img alt="computer with email symbol on screen" src="/images/setup-email.png"/>
        </div>
        <h5>PLACEHOLDER</h5>
        <p>How to join and what to expect of the software.</p>
      </div>
      <div class="step">
        <div class="step-image">
        <img alt="computer with credit card icon on screen" src="/images/setup-payment.png"/>
        </div>
        <h5>PLACEHOLDER</h5>
        <p>More details on Confed</p>
      </div>
      <div class="step">
        <div class="step-image">
        <img alt="computer with sails logo on screen" src="/images/setup-customize.png"/>
        </div>
        <h5>PLACEHOLDER</h5>
        <p>More details on Confed</p>
      </div>
    </div>
    <hr/>
    <div class="pep-talk text-center">
      <h3>Let's get to work.</h3>
      <p>There is a lot of organising ahead of us, and a lot of change to make.</p>
      <p><span class="text-muted">&hearts;</span> <a href="https://anok.io">Anok.io</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
