<div id="group" v-cloak>
  <div class="container">

    <h1><a href="/group">{{ group.name || 'Group'}}</a></h1>


  <router-view></router-view>
</div>


<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
