<div id="group" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/group/group.less</em>, <em>assets/js/pages/group/group.page.js</em>, and <em>api/controllers/group/view-group.js</em>.)</p>

  <p> Default page for a users group functions.</p>
  <ul>
    <li>Users can create a group if they are not already a member of a group</li>
    <li>Users can apply to join a group</li>
    <li>Users can see and accept applications to a group (all members of the group must have accepted the join group request for the new member to join)</li>
    <li>Users can see available agenda items for the group</li>
    <li>Users can submit a new agenda item</li>
    <li>Offers from other groups to federate</li>
  </ul>


</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
